@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  font-family: 'Libre Bodoni', serif;
  font-weight: 700; /* Bold */
  font-style: italic; /* Italic */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Page-lp {
  background-color: #ebbbbc; /* Light pink background */
  min-height: 100vh; /* Minimum height to cover the viewport */
  display: flex; /* Use flexbox for centering content */
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  margin-right: 0; /* Override default margin */
}

.Page-dp {
  background-color: #d01664; /* Dark pink background */
  min-height: 100vh; /* Minimum height to cover the viewport */
  display: flex; /* Use flexbox for centering content */
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  flex-direction: column;
}

.Header-style-left {
  color: #d01664; /* Dark pink text */
  font-size: min(8rem, calc(8vw + 1rem)); /* Responsive font size */
  margin-bottom: 1rem; /* Some space below */
  margin-Left: 13%; /* Some space on the left */
  max-width: fit-content; /* Limit the width */
  font-family: 'Libre Bodoni', serif;
  font-weight: 700; /* Bold */
  font-style: italic; /* Italic */
  padding: 0 1.5rem; /* Add padding on the left and right */
  text-align: left; /* Align text to the center */
}

.Header-style {
  color: #d01664; /* Dark pink text */
  font-size: min(8rem, calc(8vw + 1rem)); /* Responsive font size */
  margin-bottom: 1rem; /* Some space below */
  font-family: 'Libre Bodoni', serif;
  font-weight: 700; /* Bold */
  font-style: italic; /* Italic */
  text-align: center; /* Align text to the center */
}

.Header-style-NBar {
  color: #ebbbbc !important; /* Light pink text */
  font-size: min(8rem, calc(8vw + 1rem)); /* Responsive font size */
  font-family: 'Libre Bodoni', serif;
  font-weight: 700; /* Bold */
  font-style: italic; /* Italic */
  text-align: center; /* Align text to the center */
  transition: .3s color cubic-bezier(.155,1.105,.295,1.12); /* Smooth color transition */
}

.Header-style-NBar:hover {
  color: #d01664 !important; /* Dark pink text */
}

.Header-style-left-typewriter {
  color: #d01664; /* Dark pink text */
  font-size: min(6rem, calc(8vw + 1rem)); /* Responsive font size */
  margin-bottom: 1rem; /* Some space below */
  margin-Left: 13%;
  max-width: fit-content; /* Limit the width */
  font-family: 'Libre Bodoni', serif;
  font-weight: 700; /* Bold */
  font-style: italic; /* Italic */
  padding: 0 1.5rem; /* Add padding on the left and right */
  text-align: left; /* Align text to the center */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  border-right: .1em solid #d01664; /* The typewriter cursor */
  animation: 
    typewriter 4s steps(40) 0.3s normal both,
    blink-cursor .75s step-end infinite; /* Typewriter and cursor animation */
}

.Header-style-alternate {
  color: #ebbbbc; /* Light pink text */
  font-size: min(8rem, calc(8vw + 1rem)); /* Responsive font size */
  margin-bottom: 1rem; /* Some space below */
  font-family: 'Libre Bodoni', serif;
  font-weight: 700; /* Bold */
  font-style: italic; /* Italic */
  text-align: center; /* Align text to the center */
}

.Header-style-left-alternate {
  color: #ebbbbc; /* Light pink text */
  font-size: min(8rem, calc(8vw + 1rem)); /* Responsive font size */
  margin-bottom: 1rem; /* Some space below */
  margin-Left: 13%; /* Some space on the left */
  max-width: fit-content; /* Limit the width */
  font-family: 'Libre Bodoni', serif;
  font-weight: 700; /* Bold */
  font-style: italic; /* Italic */
  padding: 0 1.5rem; /* Add padding on the left and right */
  text-align: left; /* Align text to the center */
}

.Header-style-left-alternate-typewriter {
  color: #ebbbbc; /* Light pink text */
  font-size: min(6rem, calc(8vw + 1rem)); /* Responsive font size */
  margin-bottom: 1rem; /* Some space below */
  margin-Left: 13%;
  max-width: fit-content; /* Limit the width */
  font-family: 'Libre Bodoni', serif;
  font-weight: 700; /* Bold */
  font-style: italic; /* Italic */
  padding: 0 1.5rem; /* Add padding on the left and right */
  text-align: left; /* Align text to the center */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  border-right: .1em solid #d01664; /* The typewriter cursor */
  animation: 
    typewriter 4s steps(40) 0.3s normal both,
    blink-cursor .75s step-end infinite; /* Typewriter and cursor animation */
}

.Title-style-lp {
  color: #ebbbbc; /* Light pink text */
  font-size: min(30rem, calc(2vw + 0.5rem)); /* Responsive font size */
  font-family: 'Poppins', sans-serif;
  font-weight: 700; /* Bold */
  text-align: center; /* Center align text */
  margin-bottom: 1rem; /* Some space below */
}

.Title-style-dp {
  color: #d01664; /* Light pink text */
  font-size: min(30rem, calc(2vw + 0.5rem)); /* Responsive font size */
  font-family: 'Poppins', sans-serif;
  font-weight: 700; /* Bold */
  text-align: center; /* Center align text */
  margin-bottom: 1rem; /* Some space below */
  margin-top: 2rem;
}

.Paragraph-style-dg {
  color: #21181c; /* Dark grey text */
  font-size: min(1.2rem, calc(2vw + 0.5rem)); /* Responsive font size */
  max-width: fit-content; /* Limit the width */
  font-family: 'Poppins', sans-serif;
  padding: 0 15%; /* Add padding on the left and right */
  text-align: left; /* Align text to the left */
}

.Paragraph-style-dg-NBar {
  color: #21181c; /* Dark grey text */
  font-size: min(1.2rem, calc(2vw + 0.5rem)); /* Responsive font size */
  font-family: 'Poppins', sans-serif;
  text-align: center; /* Align text to the center */
}

.Paragraph-style-dg-center {
  color: #21181c; /* Dark grey text */
  font-size: min(1.2rem, calc(2vw + 0.5rem)); /* Responsive font size */
  font-family: 'Poppins', sans-serif;
  padding-left: 15% !important; /* Add padding on the left */
  padding-right: 15% !important; /* Add padding on the right */
  text-align: center; /* Align text to the left */
}

.Paragraph-style-lg {
  color: #f7f7f7; /* Light grey text */
  font-size: min(1.2rem, calc(2vw + 0.5rem)); /* Responsive font size */
  max-width: fit-content; /* Limit the width */
  font-family: 'Poppins', sans-serif;
  padding: 0 15%; /* Add padding on the left and right */
  text-align: left; /* Align text to the left */
}

.Paragraph-style-lg-center {
  color: #f7f7f7; /* Light grey text */
  font-size: min(1.2rem, calc(2vw + 0.5rem)); /* Responsive font size */
  font-family: 'Poppins', sans-serif;
  padding-left: 15% !important; /* Add padding on the left */
  padding-right: 15% !important; /* Add padding on the right */
  text-align: center; /* Align text to the left */
}

.Card{
  border-radius: 4px;
  border-color: #d01664 !important;
  background-color: #d01664 !important; /* Dark pink background */
  box-shadow: 0 3px 5px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12), .3s background-color;
  padding: 14px 20px 18px 20px;
  cursor: pointer;
}

.Card-static{
  border-radius: 4px;
  border-color: #d01664 !important;
  background-color: #d01664 !important; /* Dark pink background */
  box-shadow: 0 3px 5px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12), .3s background-color;
  padding: 14px 20px 18px 20px;
  height: auto;
  cursor: pointer;
}

.Card-lp{
  border-radius: 4px;
  border-color: #ebbbbc !important;
  background-color: #ebbbbc !important; /* Light pink background */
  box-shadow: 0 3px 5px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12), .3s background-color;
  padding: 14px 20px 18px 20px;
  cursor: pointer;
}

.Card-lg{
  border-radius: 4px;
  border-color: #f7f7f7 !important;
  background-color: #f7f7f7 !important; /* Light pink background */
  box-shadow: 0 3px 5px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12), .3s background-color;
  padding: 14px 20px 18px 20px;
  cursor: pointer;
}

.Card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: #ebbbbc !important; /* Light pink background */
  z-index: 1; /* Or any higher value to ensure it's on top */
}

.Card-lp:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: #d01664 !important; /* Dark pink background */
  z-index: 1; /* Or any higher value to ensure it's on top */
}

.Card-lg:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: #d01664 !important; /* Dark pink background */
  border-color: #d01664 !important;
  z-index: 1; /* Or any higher value to ensure it's on top */
}

.Card-text-lp {
  color: #ebbbbc !important; /* Light pink text */
  font-size: min(1.2rem, calc(2vw + 0.5rem)); /* Responsive font size */
  font-family: 'Poppins', sans-serif;
  text-align: center; /* Center align text */
  transition: .3s color cubic-bezier(.155,1.105,.295,1.12); /* Smooth color transition */
}

.Card:hover .Card-text-lp {
  color: #d01664 !important; /* Dark pink text */
  z-index: 1; /* Or any higher value to ensure it's on top */
}

.Card-lg:hover .Card-text-dg {
  color: #ebbbbc !important; /* Light pink text */
  z-index: 1; /* Or any higher value to ensure it's on top */
}

.Card-text-dp {
  color: #d01664 !important; /* Light pink text */
  font-size: min(1.2rem, calc(2vw + 0.5rem)); /* Responsive font size */
  font-family: 'Poppins', sans-serif;
  text-align: center; /* Center align text */
  transition: .3s color cubic-bezier(.155,1.105,.295,1.12); /* Smooth color transition */
}

.Card-text-dg {
  color: #21181c !important; /* Light pink text */
  font-size: min(1.2rem, calc(2vw + 0.5rem)); /* Responsive font size */
  font-family: 'Poppins', sans-serif;
  text-align: center; /* Center align text */
  transition: .3s color cubic-bezier(.155,1.105,.295,1.12); /* Smooth color transition */
}

.Card-title-lp {
  color: #ebbbbc !important; /* Light pink text */
  font-size: min(1.2rem, calc(2vw + 0.5rem)); /* Responsive font size */
  font-family: 'Poppins', sans-serif;
  font-weight: 700; /* Bold */
  text-align: center; /* Center align text */
  transition: .3s color cubic-bezier(.155,1.105,.295,1.12); /* Smooth color transition */
}

.Card-title-lg {
  color: #f7f7f7 !important; /* Light pink text */
  font-size: min(1.2rem, calc(2vw + 0.5rem)); /* Responsive font size */
  font-family: 'Poppins', sans-serif;
  font-weight: 700; /* Bold */
  text-align: center; /* Center align text */
  transition: .3s color cubic-bezier(.155,1.105,.295,1.12); /* Smooth color transition */
}

.Card:hover .Card-title-lp {
  color: #d01664 !important; /* Dark pink text */
  z-index: 1; /* Or any higher value to ensure it's on top */
}

.Card-title-dp {
  color: #d01664 !important; /* Light pink text */
  font-size: min(1.2rem, calc(2vw + 0.5rem)); /* Responsive font size */
  font-family: 'Poppins', sans-serif;
  font-weight: 700; /* Bold */
  text-align: center; /* Center align text */
  transition: .3s color cubic-bezier(.155,1.105,.295,1.12); /* Smooth color transition */
}

#visualizations-dropdown {
  color: #f7f7f7; /* Text color */
  background-color: transparent; /* Background color */
  border: none; /* Remove border */
}

#visualizations-dropdown:focus {
  box-shadow: none; /* Remove focus shadow */
}

/* The typing effect */
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-cursor {
  from, to { border-color: transparent; }
  50% { border-color: #d01664; }
}

.Fade-in {
  /* Your existing styles for the paragraph */
  opacity: 0; /* Start with opacity set to 0 */
  transform: translateY(20px); /* Start position below its normal position */
  animation: fade-in 1s ease-in-out forwards; /* Apply the fade-in animation */
  animation-delay: 1s; /* Delay the start of the animation by 0.5 seconds */
}

@keyframes fade-in {
  to {
    opacity: 1; /* Fully fade in the element */
    transform: translateY(0); /* Move the element back to its normal position */
  }
}

.Model-container {
  background-color: #ebbbbc; /* Light pink background */
  min-height: 100vh; /* Minimum height to cover the viewport */
  display: flex; /* Use flexbox for centering content */
  justify-content: center; /* Center horizontally */
  text-align: center; /* Center text */
}

.Model-style-header {
  color: #000000; /* Dark pink text */
  font-size: min(2rem, calc(8vw + 1rem)); /* Responsive font size */
  margin-bottom: 2rem; /* Some space below */
  max-width: fit-content; /* Limit the width */
  font-family: 'Poppins', serif;
  padding: 0 1.5rem; /* Add padding on the left and right */
  padding-top: 2rem;
  text-align: center; /* Align text to the center */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  align-items: center;
}

.Date {
  color: gray;
  font-size: min(0.8rem, calc(2vw + 0.5rem));;
}

.Button-dp {
  background-color: #d01664 !important; /* Dark pink button */
  border-color: #d01664 !important; /* Dark pink border */
  transition: .3s color cubic-bezier(.155,1.105,.295,1.12); /* Smooth color transition */
}

.Button-dp:hover {
  background-color: #b31657 !important; /* Darker pink button */
  border-color: #d01664 !important; /* Darker pink border */
}

/* Table styles */
.Table-style-dp {
  background-color: transparent;
  color: #000; /* default text color */
  width: 100%;
  border-collapse: collapse;
}

.Table-style-dp thead th {
  background-color: #d01664;
  color: #fff; /* header text color */
  padding: 10px;
}

.Table-style-dp tbody tr:nth-child(odd) {
  background-color: #d01664; /* odd row color */
}

.Table-style-dp tbody tr:nth-child(even) {
  background-color: #b31657; /* even row color */
}

.Table-style-dp tbody td {
  padding: 10px;
  border: 1px solid #000; /* border color */
}

#dropdown-search::after {
  display: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-item {
  margin-right: 10px; /* Adjust the spacing as needed */
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}